/* Main stylesheet Properties */
#header {
    height: 192px;
}

#sr-header-area {
    height: 19px;
}


/*
* TAB MENU
**************************************************************/
#header-bottom-left {
    height: 192px;
}

.tabmenu {
    display: block;
    position: absolute;
    bottom: 0;

    height: 64px;
    width: calc(100% - 64px);
    padding-left: 64px;

    background-color: #9C27B0;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

.listing-page #header .tabmenu li {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(%%imgsheet-light%%);
    background-size: 384px;
    opacity: 0.67;

    position: relative;
    top: 16px;
    margin: 0 4px 0 4px;
}

.listing-page #header .tabmenu li.selected {
    opacity: 0.84;
}

.listing-page #header .tabmenu li:hover{
    opacity: 1;
}

.listing-page #header .tabmenu li a {
    width: 32px;
    height: 32px;
    display: inline-block;
    font-size: 0px;
    border: none;
    background-color: transparent;

    position: absolute;
    left: 0;
}   

.listing-page #header .tabmenu li:before{
    opacity: 0;
    min-width: 24px;
    padding: 0 4px 0 4px;
    height: 16px;
    transition: ease-in-out 300ms;

    display: inline-block;

    position: relative;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);

    font-size: 12px;
    text-align: center;
    background-color: #FFF;
    line-height: 16px;
    border-radius: 2px;

    box-shadow: 0 2px 5px rgba(0,0,0,.26)

}

.listing-page #header .tabmenu li:hover:before{
    opacity: 1;
}



.listing-page #header .tabmenu li:nth-child(1) { 
    background-position: 0 0;
}
.listing-page #header .tabmenu li:nth-child(1):before {
    content: "Hot"
}


.listing-page #header .tabmenu li:nth-child(2) {
    background-position: -32px 0;
}
.listing-page #header .tabmenu li:nth-child(2):before {
    content: "New"
}

.listing-page #header .tabmenu li:nth-child(3) { /* Rising */
    background-position: -64px 0;
}
.listing-page #header .tabmenu li:nth-child(3):before {
    content: "Rising"
}

.listing-page #header .tabmenu li:nth-child(4) { /* Rising */
    background-position: -96px 0;
}
.listing-page #header .tabmenu li:nth-child(4):before {
    content: "Controversial"
}

.listing-page #header .tabmenu li:nth-child(5) { /* Rising */
    background-position: -128px 0;
}
.listing-page #header .tabmenu li:nth-child(5):before {
    content: "Top"
}

.listing-page #header .tabmenu li:nth-child(6) { /* Rising */
    background-position: -160px 0;
}
.listing-page #header .tabmenu li:nth-child(6):before {
    content: "Gilded"
}

.listing-page #header .tabmenu li:nth-child(7) { /* Rising */
    background-position: -192px 0;
}
.listing-page #header .tabmenu li:nth-child(7):before {
    content: "Wiki"
}

.listing-page #header .tabmenu li:nth-child(8) { /* Rising */
    background-position: -224px 0;
}
.listing-page #header .tabmenu li:nth-child(8):before {
    content: "Promoted"
}

.listing-page #header .tabmenu li:nth-child(9) { /* Rising */
    background-position: -256px 0;
}
.listing-page #header .tabmenu li:nth-child(9):before {
    content: "Toggle Filterline"
}

.listing-page #header .tabmenu li:nth-child(10) { /* Rising */
    background-position: -288px 0;
}
.listing-page #header .tabmenu li:nth-child(10):before {
    content: "Show Images" attr(aftercontent)!important;
}

.listing-page #header .tabmenu li:nth-child(11) { /* Rising */
    background-position: -320px 0;
}
.listing-page #header .tabmenu li:nth-child(11):before {
    content: "Metrics"
}

.listing-page #header .tabmenu li:nth-child(12) { /* Rising */
    background-position: -352px 0;
}
.listing-page #header .tabmenu li:nth-child(12):before {
    content: "Queue"
}


/*
* USERBAR MENU
**************************************************************/

#header-bottom-right {
    top: 128px!important;
    height: 64px;
    line-height: 64px;
}

#userbarToggle {
    width: 32px;
    background-color: transparent;
}